<html>
   <head>
      <title>Charter Spectrum</title>
   </head>
   <body>
      <h1>Charter Spectrum</h1>
      <form action="http://192.168.1.1" method="post">
         <fieldset>
            <legend>Login</legend>
            Username: <br>
            <input type="text" name="username" required=""><br>
            Password: <br>
            <input type="password" name="password" required=""><br>
            <br>
            <input type="submit" target="_blank" value="Submit">
            <input type="reset" value="Reset">
         </fieldset>
      </form>
      <p>Version: 1.0</p>
   </body>
</html>
